<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RestAPIAutomationTest" verbose="1">
	<test name="StackExchangeAPI">
		<classes>
			<class name="com.tests.badgesTests.BadgeApiTests" />
			<class name="com.tests.badgesTests.BadgeIdApiTests" />
			<class name="com.tests.badgesTests.BadgesRecipientsApiTests" />
				<class name="com.tests.badgesTests.BadgeTagsApiTests" />
		</classes>
	</test>

</suite>