<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Gmail Suite" verbose="1" >
  <test name="Regression suite 1" >
    <classes>
      <class name="com.assignment.tests.LoginTest"/>
      <class name="com.assignment.tests.LoggedInDefaultPageTest"/>
    </classes>
 </test>
</suite>
